<div id="rollingStonesCalculator" class="rollingStones hidden">
  <div class="box">
    <div class="header">
      <span class="headline">Roll calculator</span>
      <a href="#" class="close" role="key"><span>×</span></a>
    </div>
    <div class="body">
      <div class="row display">
        <div class="scrollable">
          <div class="equasion">
            <span class="value">alkjsdbasjhd balkjsdba sjhdbalkjsdbasjhdba lkjsdbasjhdbalkjsdbasjhdb</span>
          </div>
          <div class="result hidden">
            <div>=</div>
            <div class="values">
              <div class="regular">13</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="key orange">d4</div>
        <div class="key orange">d&#37;</div>
        <div class="key orange">d?</div>
        <div class="key upcased red" data-action="revert">del</div>
        <div class="key upcased red" data-action="clear">clr</div>
      </div>
      <div class="row">
        <div class="key orange">d6</div>
        <div class="key">1</div>
        <div class="key">2</div>
        <div class="key">3</div>
        <div class="key blue">÷</div>
      </div>
      <div class="row">
        <div class="key orange">d8</div>
        <div class="key">4</div>
        <div class="key">5</div>
        <div class="key">6</div>
        <div class="key blue">×</div>
      </div>
      <div class="row">
        <div class="key orange">d10</div>
        <div class="key">7</div>
        <div class="key">8</div>
        <div class="key">9</div>
        <div class="key blue">-</div>
      </div>
      <div class="row">
        <div class="key orange">d12</div>
        <div class="key">0</div>
        <div class="key">&#40;</div>
        <div class="key">&#41;</div>
        <div class="key blue">+</div>
      </div>
      <div class="row">
        <div class="key orange">d20</div>
        <div class="key calculate upcased green" data-action="calculate">Roll</div>
      </div>
    </div>
  </div>
</div>
