    body {
        background-color: rgba(0, 0, 0, 0.35);
        font-family: "Roboto Condensed", Roboto, Helvetica, sans-serif;
        font-size: 1em;
        font-weight: bold;
        background-color: white;
        color: inherit;
        margin: 0;
    }
    
    .hidden {
        display: none !important;
    }
    
    #rollingStonesCalculator {
        margin: 0 auto;
        height: 4em;
        text-align: center;
        line-height: 4em;
        min-width: 20em;
        max-width: 40em;
    }
    
    #rollingStonesCalculator .header {
        text-align: left;
        font-size: 1.5em;
        text-transform: uppercase;
        font-weight: bold;
        color: #fff;
        padding: 0 1em;
        height: 3em;
        background-color: #2a313a;
    }
    
    #rollingStonesCalculator .body {
        background-color: white;
        display: grid;
        grid-template-columns: repeat(5, minmax(4em, 8em));
    }
    
    #rollingStonesCalculator .key {
        height: 4em;
        background-color: #f1f1f1;
        cursor: pointer;
        user-select: none;
    }
    
    #rollingStonesCalculator .key.red {
        color: #bc0f0e;
    }
    
    #rollingStonesCalculator .key.orange {
        color: #e68412;
    }
    
    #rollingStonesCalculator .key.blue {
        color: #127bc4;
    }
    
    #rollingStonesCalculator .key.calculate {
        background-color: #96bf6a;
        color: white;
        grid-column-start: 2;
        grid-column-end: 6;
    }
    
    #rollingStonesCalculator.invalid .key.calculate {
        background-color: #bc0f0e;
        color: white;
        text-decoration: line-through;
        cursor: not-allowed;
    }
    
    #rollingStonesCalculator .upcased {
        text-transform: uppercase;
    }
    
    #rollingStonesCalculator .display {
        background-color: #fff;
        display: flex;
        line-height: 4em;
        height: 4em;
    }
    
    #rollingStonesCalculator.invalid .display {
        color: #bc0f0e;
    }
    
    #rollingStonesCalculator .display input.equasion {
        font-weight: normal;
        border: none;
        padding: 0 0 0 1em;
        font-family: "Roboto Condensed", Roboto, Helvetica, sans-serif;
        font-size: 1em;
        text-align: right;
        flex: 1;
    }
    
    #rollingStonesCalculator .display input:focus {
        outline: none;
    }
    
    #rollingStonesCalculator .display .result {
        padding-right: 1em;
        line-height: 4em;
    }