body {
    background-color: rgba(0, 0, 0, 0.35);
    font-family: "Roboto Condensed", Roboto, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    background-color: white;
    color: inherit;
    margin: 0;
}

.hidden {
    display: none !important;
}

#rollingStonesCalculator {
    width: 250px;
}

#rollingStonesCalculator .box {
    margin: 0;
    background-color: #2a313a;
}

#rollingStonesCalculator .header {
    text-align: left;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    padding: 15px;
}

#rollingStonesCalculator .body {
    border: none;
    border-radius: 0 0 1px 1px;
    background-color: white;
    width: 250px;
    float: left;
}

#rollingStonesCalculator .history {
    background-color: white;
    float: left;
    border: 1px solid black;
}

#rollingStonesCalculator .reroll {
    border-radius: 2px;
    background-color: #96bf6b;
    color: #fff;
    border: 1px solid transparent;
    text-transform: uppercase;
    padding: 9px 15px;
    transition: all 50ms;
    cursor: pointer;
    display: block;
    margin-top: 15px;
    text-align: center;
}

#rollingStonesCalculator .row {
    height: 50px;
    width: 250px;
    text-align: center;
    line-height: 50px;
}

#rollingStonesCalculator .key {
    float: left;
    width: 50px;
    height: 50px;
    background-color: #f1f1f1;
    cursor: pointer;
}

#rollingStonesCalculator .key.red {
    color: #bc0f0e;
}

#rollingStonesCalculator .key.orange {
    color: #e68412;
}

#rollingStonesCalculator .key.blue {
    color: #127bc4;
}

#rollingStonesCalculator .key.calculate {
    width: 200px;
    background-color: #96bf6a;
    color: white;
}

#rollingStonesCalculator.invalid .key.calculate {
    width: 200px;
    background-color: #bc0f0e;
    color: white;
    text-decoration: line-through;
    cursor: not-allowed;
}

#rollingStonesCalculator .upcased {
    text-transform: uppercase;
}

#rollingStonesCalculator .row.display {
    overflow: hidden;
    position: relative;
    background-color: #fff;
    width: 100%;
    text-align: left;
}


}
#rollingStonesCalculator .display div {
    direction: ltr;
}
#rollingStonesCalculator.invalid .display {
    color: #bc0f0e;
}
#rollingStonesCalculator .display .scrollable {
    width: max-content;
    height: 50px;
    white-space: nowrap;
    overflow: unset;
}
#rollingStonesCalculator .display .equasion {
    padding: 0 5px 0 10px;
    float: left;
    font-weight: normal;
}
#rollingStonesCalculator .display .result {
    float: right;
    padding-right: 10px;
    height: 50px;
}
#rollingStonesCalculator .display .result div {
    float: left;
    text-align: center;
}
#rollingStonesCalculator .display .result .values .regular {
    padding-left: 5px;
}